@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Roboto"),
       /* Если не получилось, загрузит woff2 */
       url("/fonts/roboto.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("/fonts/roboto.woff") format("woff");
}

/* Теперь можно использовать шрифт */
body {
  font-family: "Roboto", "Arial", sans-serif;
}

html, body {
  margin: 0;
}

.logo {
  height: 110px;
  margin-right: 25px;
  /* width: 200px;  */
}

nav {
  display: block;
  position: fixed;
  width:  100%;
  top: 0;
  background-color: rgb(16, 24, 32);
  z-index: 1000;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex; /* Добавляем flex-контейнер для горизонтального выравнивания */
  
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 15px;
  display: block; /* Оставляем блочный режим для ссылок */
}

nav ul li:first-child a {
  margin-left: 20px; /* Расстояние между первым элементом и следующими */
}

nav ul li a:hover {
  opacity: 0.5;
}

.home {
  display: flex;
  background: rgb(230,75,56);
  color: #fff;
  padding: 20px;
  border: 20px;
  margin-top: 48px;
  justify-content: start;
  align-items: center;
  vertical-align: baseline;
  scroll-margin-top: 48px;
}

.home-menu__text > h1, p{
  margin: 0px;
  padding: 0px;
}

.section_title {
  position: absolute;
  top: 15px;
  left: 0px;
  display: box;
  box-sizing: border-box;
  color: white;
  background: rgb(230,75,56);
  font-size: 1em;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  

  width: 150px; /* задаем ширину */
  height: 2em; /* задаем высоту */
}


.card {
  position: relative;
  display: block;
  padding: 90px 20px;
  height: 100vh; /* задаем высоту */
  scroll-margin-top: 48px;
}

.card:nth-child(odd) {
  /* background-color: rgb(42, 205, 236); */
  background-color: rgb(16, 24, 32);
  color: white;
}

.card#clients{
  text-align: center;
  height: calc(100vh - 80px - 410px);
  }


.card#contact{
  border: 1px solid rgb(230,75,56);
  height: 80px;
  background-color: rgb(16, 24, 32);
  color: white;
  text-align: center;
}


.section_title,p{
  font-size: 1.2rem;
}